* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: #ffd000;
    margin: auto;
}

a:link {
    color: beige;
}
/* header, footer */
header, footer {
    padding: 20px;
    margin: 0px;
    border-bottom: 10px double #8338ec;
    background-color: #fb5607;
}
/* nav */
header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
/* Zero-X */
header nav h1 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 50px;
    font-size: 50px;
    padding: 5px 5px;
    color: beige;
    text-decoration: underline #8338ec;
    border-radius: 15px;
}
/* need to figure out how to push the li to the right of the page */
/* nav li */
header nav ul {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    color: #3a86ff;    
}

main {
    flex: 1;
    margin-bottom: 350px;
}
/* quote with b/g img */
main section h3 {
    background-image: url('https://placehold.co/2560x200');
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    margin: 0;
    color: beige;
}
/* About Me section */
main section section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10 10 double beige;
}
/* About and Work h1 */
main section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: beige;
}
main section .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #8338ec;
}
.dice {
    display: grid;
    grid-template-areas: "top" "middle" "left" "right" "bottom";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 50px;
    height: 200px;
}
/* atttempting to create "dice"-shaped grid-area */
.project1 {
    grid-area: top left;
    background-image: url('https://placehold.co/400x200');
}
.project2 {
    grid-area: top right;
    background-image: url('https://placehold.co/400x200');
}
.project3 {
    grid-area: middle;
    background-image: url('https://placehold.co/400x200');
}
.project4 {
    grid-area: bottom left;
    background-image: url('https://placehold.co/400x200');
}
.project5 {
    grid-area: bottom right;
    background-image: url('https://placehold.co/400x200');
}
/* Work sections boxes, borders, links, b/g imgs */
/* .project {
    display: flex;
    height: 100px;
    border: 10px double #8338ec;
    border-radius: 15px;
}
/* Work sections p, spans*/
.project {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 400px;
    color: #ff006e;
    border-radius: 15px;
    background-color: #8338ec;
}
/* footer */
footer {
    border-top: 10px double #8338ec;
    border-bottom: none;
    text-decoration: underline #8338ec;
}

footer h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: beige;
}

footer ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    color: beige;  
}