* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: #ffd000;
    margin: auto;
}
/* header, footer */
.header, footer {
    padding: 20px;
    margin: 0px;
    border-bottom: 10px double #8338ec;
    background-color: #fb5607;
}
/* header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* h1*/
.header .name{
    background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('https://github.com/Zero-0X/Challenge_2_Custom_Responsive_Website/blob/main/assets/xy_by_matjosh_d49ki07.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 50px;
    font-size: 50px;
    padding: 250px 11px;
    color: beige;
    text-decoration: underline #8338ec;
}
/* header avatar */
.header img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 271px;
    height: 390px;
    /* want overflow-clip-margin: 0; */
}
/* nav */
.header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
/* need to figure out how to push the li to the right of the page */
/* nav li */
.header nav ul {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    color: #3a86ff;    
}

.header nav ul li:not(:last-child) {
    margin-right: 10px;
}

main {
    flex: 1;
    margin-bottom: 350px;
}
/* quote with b/g img */
main section h3 {
    background-image: url('https://github.com/Zero-0X/Challenge_2_Custom_Responsive_Website/blob/main/assets/pexels-lennard-schubert-11814657.jpg?raw=true/2560x200');
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    margin: 0;
    color: beige;
}
/* About Me section */
main section section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10 10 double beige;
}
/* About and Work h1 */
main section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: beige;
}
main section .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #8338ec;
}
.dice {
    display: grid;
    grid-template-areas: 
    "top-left top-middle top-right" 
    "middle-left middle-middle middle-right"
    "bottom-left middle-bottom bottom-right";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 30px;
}
/* atttempting to create "dice"-shaped grid-area */
.dice .project1 {
    grid-area: middle-middle;
    background-image: url('https://placehold.co/800x800');
}
.project2 {
    grid-area: top-right;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('https://placehold.co/400x400');
}
.project3 {
    grid-area: top-left;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('https://placehold.co/400x400');
}
.project4 {
    grid-area: bottom-left;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('https://placehold.co/400x400');
}
.project5 {
    grid-area: bottom-right;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.4), rgba(0,0,0,.4)), url('https://placehold.co/400x400');
}
/* Work sections boxes, borders, links, b/g imgs */
/* .project {
    display: flex;
    height: 100px;
    border: 10px double #8338ec;
    border-radius: 15px;
} */

/* Work sections p, spans*/
.project {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    color: #ff006e;
    border-radius: 15px;
    background-color: #8338ec;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 30px;
}
/* footer */
footer {
    border-top: 10px double #8338ec;
    border-bottom: none;
    text-decoration: underline #8338ec;
}

footer h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: beige;
}

footer ul {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    color: beige;  
}